body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: #fff;
    padding: 20px;
}

nav ul {
    
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.portfolio-item {
    margin: 10px;
}

.portfolio-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #ccc;
    cursor: pointer;
}
